.row.metafields
  .span10.offset1

    %ul.unstyled
    - @products.each do |product|
      %li
        %h3= product.vendor + ' ' + product.title
        - if !product.images.empty?
          = image_tag(product.images.first.small)

        %input{type: 'text', value:product.id}
